<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome Back!</h1>
            <%= link_to "Manage account »", "#", class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>IRA Balance Calculator</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View calculator", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>401k Balance Calculator</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View calculator", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Brokerage Balance Calculator</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "View calculator", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome Back!</h1>
            <p>Thank you for visiting my website! By creating an account, you can use my calculators for free and we can keep track of the information in your calculators
            so you can come back anytime and have that information saved!</p>
            <%= link_to "Create an account »", signup_path, class: "btn btn-primary btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>IRA Balance Calculator</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "Sign up to view calculator", signup_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>401k Balance Calculator</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "Sign up to view calculator", signup_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Brokerage Balance Calculator</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><%= link_to "Sign up to view calculator", signup_path, class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>